<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SportTix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SportTix.Properties.Settings>
            <setting name="IdUser" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NameUser" serializeAs="String">
                <value>NoName</value>
            </setting>
            <setting name="Role" serializeAs="String">
                <value />
            </setting>
            <setting name="DateBirthDay" serializeAs="String">
                <value />
            </setting>
            <setting name="PhotoUser" serializeAs="String">
                <value />
            </setting>
            <setting name="UserLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SurName" serializeAs="String">
                <value />
            </setting>
            <setting name="Patronomyc" serializeAs="String">
                <value />
            </setting>
        </SportTix.Properties.Settings>
    </userSettings>
</configuration>